.form-control {
    background-color: #FFDE59;
}

#goBackBtn {
    background-color: #F79824;
}

#btn1{
    padding: 5px 50px;
    background-color:#004AAD;
    border-width: 0px;
}

#btn1:hover{
    background:#012c64
}

#btn2{
    padding: 5px 50px;
    background-color:#ffde59;
    border-width: 0px;
    color: black;
}

#btn2:hover{
    background:#f1cd3b
}

.btn btn-primary{
   background-color: #F79824;
}

#view{
    padding: 5px 10px;
    background-color:#004AAD;
    border-width: 0px;
}

#update{
    padding: 5px 10px;
    background-color:#008037;
    border-width: 0px;
}

#delete{
    padding: 5px 10px;
    background-color:#FF1616;
    border-width: 0px;
}

#add{
    padding: 5px 35px;
    background-color:#008037;
    border-width: 0px;
}

#generateReport{
    padding: 5px 35px;
    background-color:#008037;
    border-width: 0px;
}

.container-fluid{
    max-width: 25rem;
}

.table {
    width: auto;
    float: left;
    text-align: center;
    border-collapse: separate;
    border-spacing: 10px;
}

#tableData{
    background-color:#ECE3FF;
}

#tableRows{
    background-color: #BB99FF;
}

#genericName{
    background-color: #DECDFF;
}

.col{
    height:300px;
    overflow-y: auto;
}