ion-icon {
    font-size: 20px;
}

.navbar{
    margin-bottom: -.5cm;
}

#homeNav{
    background-color: #004AAD;
    padding: 10px 40px;
}
   
#reportsNav{
    background-color: #F79824;
    padding: 10px 40px;
    margin-left: 10px;
}
   
#logoutNav{
    background-color: #F79824;
    padding: 10px 40px;
    border-radius: 12px;
}
   

.form-control {
    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
    background-color: #ffde59;
    
}

body{
    background-color: #D8EEFD;
}

.btn{
    padding: 5px 40px;
}

#goBackBtn{
    padding: 5px 50px;
    background-color:#F79824;
    border-width: 0px;
}

#goBackBtn:hover{
    background:#f1cd3b
}

#registerBtn, #loginbtn{
    padding: 5px 50px;
    background-color:#2176FF;
    border-width: 0px;
}

#registerBtn:hover, #loginBtn:hover{
    background:#f1cd3b
}


#viewBtn{
    padding: 5px 10px;
    background-color:#2176FF;
    border-width: 0px;
}

#updateBtn{
    padding: 5px 10px;
    background-color:#F79824;
    border-width: 0px;
}

#deleteBtn{
    padding: 5px 10px;
    background-color:#FF1616;
    border-width: 0px;
}

#addBtn{
    padding: 5px 35px;
    margin-left: 10px;
    background-color:#2176FF;
    border-width: 0px;
}

#generateReportBtn{
    padding: 5px 35px;
    background-color:#2176FF;
    border-width: 0px;
}

.container-fluid{
    max-width: 25rem;
}

.table {
    width: auto;
    float: left;
    text-align: center;
    border-collapse: separate;
    border-spacing: 10px;
}

#tableData{
    background-color:#f1cd3b;
}

#tableRows{
    background-color: #2176FF;
}

#genericName{
    background-color: #f1cd3b;
}
